

body {
    background-image: url('https://apod.nasa.gov/apod/image/2301/KembleCascade_Lease_3668.jpg');
    background-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    width: 75%;
    margin: auto;
    padding: 70px 0;
}

h1 {
    margin: auto;
    color:rgb(249, 211, 255);
    padding: 20px;
    width: 50%;
    background-image: linear-gradient(rgb(69, 0, 69), rgb(93, 208, 234));
    text-align: center;
    border: 3px solid rgb(255, 253, 253);
    border-radius: 10px;
}

.card {
    color:rgb(249, 211, 255);
    margin: auto;
    margin-top: 40px;
    width: 75%;
    height: 100%;
    text-align: center;
    padding: 20px;
    border: 3px solid rgb(255, 253, 253);
    border-radius: 10px;
    background-image: linear-gradient(rgb(69, 0, 69), rgb(93, 208, 234));
}

input {
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 253, 253);
}

.rotation {
    width: 50%
}

button {
    margin-top: 20px;
}

p {
    color:azure;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    [class*="container"] {
        width: 100%;
      }
    [class*="rotation"] {
        width: 100%
    }
}
