<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Converter</title>
</head>
<body>
    <p>Please input the distance</p>
    <form action="/next" method="post">
        <input type="text" name="amount">
        <p>Now, please enter the units (feet, miles, meters, kilometers, yards, inches)</p>
        <input type="text" name="units_in">
        <p>Please select the units you would like to convert to (feet, miles, meters, kilometers, yards, inches)</p>
        <input type="text" name="units_out">
        <button type="submit">Push This to Convert</button>
    </form>
    
</body>
</html>