*{
    margin: 10px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

form{
    background-color: rgb(207, 230, 207);
    text-align: center;
    padding: 30px;
    width: 400px;
    
    border-radius: 10px;
}

form input{
    text-align: center;
    padding: 5px;
    width: 180px;
    border-radius: 6px;
    border: 2px solid rgb(210, 209, 205);
    outline: none;
}

/* form input submit{
    background: black;
    color: beige;
} */