<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <form action="/" method="post">
        <p>hey stuff</p>
        <input type="text" name="distance" placeholder="distance" />
        <input type="text" name="c_from" placeholder="c_from" />
        <input type="text" name="c_to" placeholder="c_to" />
        <button type="submit">submit</button>
      </form>
      <p>{{conversion}}</p>
    </div>
  </body>
</html>
