{% extends 'base.html' %}

{% block content %}
  <h1>Grocery List</h1>
  <form method="POST">
    {% csrf_token %}
    <input type="text" name="description">
    <button type="submit">Add item</button>
  </form>
  <h2>Incomplete Items</h2>
  <ul>
    {% for item in incomplete_items %}
      <li>
        {{ item.description }} -
        <a href="{% url 'mark_complete' item.id %}">Mark as complete</a> |
        <a href="{% url 'delete_item' item.id %}">Delete</a>
      </li>
    {% empty %}
      <li>No incomplete items</li>
    {% endfor %}
  </ul>
  <h2>Complete Items</h2>
  <ul>
    {% for item in complete_items %}
      <li>
        {{ item.description }} -
        Completed on {{ item.completed_date|date:"F j, Y, g:i a" }} |
        <a href="{% url 'mark_incomplete' item.id %}">Mark as incomplete</a> |
        <a href="{% url 'delete_item' item.id %}">Delete</a>
      </li>
    {% empty %}
      <li>No complete items</li>
    {% endfor %}
  </ul>
{% endblock %}
