

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,700&display|3d-float");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background: url("https://images4.alphacoders.com/378/37864.jpg");
}

.list-group {
  list-style: none;
  margin-left: 20px;
}

.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);

  
} 


.font{
  font-size: 1.2rem;
}

.button {
 
  height: 2px;
 font-size: 20px;
 justify-content: space-between;

 
}




@media only screen and (max-width: 600px) {
  .container {
    min-width: 280px;
  }
  
}

