<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ROT+13 Cipher</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/CSS/styles.css">
    </head>
    <body>
        <!-- Page Content -->
        <div class="container">
            <h1 id="title">Welcome to the ROT+13 Cipher</h1>
            <div class="card">
                <div class="card-body">
                    <form action="/result/" method="post" id="input_text">
                        <input type="text" class="text-input text-input mb-3" id="input_text" name="input_text"/>
                        <br>
                        <input type="text" class="rotation" id="rotation" name="rotation"/>
                        <br>
                        <button type="submit">Submit</button>
                    </form> 
                </div>
            </div>
        </div>
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <p>Image credit to Tommy Lease</p>
    </body>
</html>