{% extends 'base.html' %}


{% block content %}

<div name="container text-center">
    <div class="row">
        <div class="col-8">
<h1>Squeak Your Squawks!</h1>

        {% for post in posts %}
            <div class="alert alert-dark" role="alert">  
                {{ post }}
            </div>
            <br><br>
        {% endfor %}    
        
</div>    

<div class="col-4">
    <br><br><br>

{% if form %}    
<form method=POST>
    {% csrf_token %}
    {{ form.as_p }}    


    <button type="submit" class="btn btn-secondary">Squawk!</button>
</form>
{% endif %}
</div>

{% endblock %}