{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<h1>Already Logged In</h1>

{% else %}
<div class="col-md-6 offset-md-3">

<h1>Login</h1>
<br><br>
<form method="POST" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="mb-3">
    <input type="text" class="form-control" name="username" placeholder="Enter Username">
  </div>
  
  <div class="mb-3">
    
    <input type="password" class="form-control" name="password" placeholder="Enter Password">
  </div>
  <button type="submit" class="btn btn-secondary">Login</button>
</form>

</div>
{% endif %}
{% endblock %}