<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Upload Image</h1>
    <form action="upload_picture" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="title" required>
        <input type="file" name="picture" accept="image/*" required>
        <input type="submit">
    </form>
    {% for image in imgs %}
    <div><img src="{{ image.img.url }}" height="150"></div>
    {% endfor %}
</body>
</html>