/* <!-- '''
 *'|<>|'*'|<>|'*'|<>|'*'|<>|'*'|<>|'*'|<>|'*'|<>|'*
      Project: Lab 1 - Bio webpage
      Author: Scott Lefgren
      Email: scojlefg@gmail.com
      Date: December 21, 2022
___________________          _-_
\==============_=_/ ____.---'---`---.____
            \_ \    \----._________.----/
              \ \   /  /    `-_-'
          __,--`.`-'..'-_
         /____          ||
              `--.____,-'

 *'|<>|'*'|<>|'*'|<>|'*'|<>|'*'|<>|'*'|<>|'*'|<>|'*
''' --> */

.biography_browser > div{
 
    font-weight: 300;
    font-size: 10px;

}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}

/* <div style="color:blue;background-color:DarkOliveGreen">This is some ugly text</div> */


