* { 
    box-sizing: border-box;
}
/* add a style that clears the flow */
.row::after{
    content:"";
    clear: both;
    display: table;
}
/* All columns should be floating to the left, and have a padding */
[class*="col-"]{
    float: left;
    padding: 15px;
}
html{
    font-family: "Lucida Sans", sans-serif;
}
/* add some styles and colors to make it look better */
.header{
    background-color: blue;
    color: red;
    padding: 15px;
}
.menu ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
.menu li{
    padding:8px;
    margin-bottom: 7px;
    background-color: violet;
    color: purple;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover{
    background-color: yellow; 
}

.aside{
    background-color: orange;
    padding: 15px;
    color: black;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer{
    background-color: red;
    color: black;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }

  /* make one class for each of the 12 columns and a number 
  defining how many columns the section should span */
  /* Use a media query to add a breakkpoint at 768px */
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  /* the web page will have a lightblue background 
  if the orientation is in landscape mode */

  @media only screen and (orientation: landscape) {
    body{
        backgroun-color: lightblue
    }
  }

  /* if the screen size is 600px wide or less, hide the element 
   */
   @media only screen and (max-width: 600px){
    div.example{
        display: none;
    }
   }

   /* change font size with media queries */
   /* If the screen size is 601px or more, set the font-size of <div> to 80px */

   @media only screen and (min-width: 601px) {
    div.example {
        font-size: 40px;
    }
   }

   /* If the screen size is 600px or less, set the font-size of <div> to 30px */
   @media only screen and (max-width: 600px){
    div.example{
        font-size: 30px;
    }
   }
 /* if the width property is set to a percentage and the height 
 property is set to "auto", the image will be responsive and scale up and down
  */
   img {
    max-width: 100%;
    height: auto;
   }
   video:{
    width: 100%;
    height: auto;
   }

   .fakeimg {
    height: 100px;
    width: 100px;
    background:burlywood;
   }

/* -------------BEGIN NAV BAR STYLE----------------- */
/* Add a background color to the top navigation */
.topnav {
    overflow: hidden;
    background-color: rgb(27, 151, 233);
   }
   /* Style the links inside the navigation bar */
   .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
   }
   /* Change the color of links on hover */
   .topnav a:hover {
     background-color: #ddd;
     color: black;
   }
   /* Add a color to the active/current link */
   .topnav a.active {
    background-color: rgb(124, 27, 10);
    color: white;
   }

   .topnav .icon {
    display: none;
   }

   @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
   }
   @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
   }

     /* -------------END NAV BAR STYLING----------------- */
    
 