<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="input" placeholder="long URL here">
        <input type="submit">
    </form>
    {% if link %}
    <a href="http://localhost:8000/{{link.short_one}}">http://localhost:8000/{{link.short_one}}</a>
    {% endif %}
</body>
</html>