{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Shopping List</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <style>
        body {
            background-image: url(src="{% static 'myapp/groceryBG.png' %}");
            text-align: center;
        
        }
        form {
            background-color: beige;
            padding: 10px;
        }
        ul {
            background-color: antiquewhite;
            padding: 10px;
        }
        div {
            display:block;
            margin: auto;
            width: 50%;
        }
        
        </style>
    <body>
        <div>
            <form action="{% url 'myapp:add_item' %}" method="POST">
                <h1>Shopping List</h1>
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit" />
            </form>
    
            <ul id="groceries">
                To Get
                {% for item in list %}
                    <li>{{ item }}<a href="{% url 'myapp:completed_item' item.id %}"><input type="checkbox"></a></li>
                {% endfor %}
                GOTTEN
                <li>{{ finished_item }}<a href="{% url 'myapp:deleted_item' item.id %}"><input type="checkbox"></a></li>
            </ul>
            
        </div>
        
        
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>