@import url("https://fonts.googleapis.com/css?family=Raleway:wght@300&family=Roboto+Condensed:wght@300&display=swap&effect=shadow-multiple|3d-float|3d");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-size: 48px;
  background-size: cover;
  font-family: "Tangerine", serif;
  text-shadow: 4px 4px 4px #aaa;
  background: linear-gradient(rgb(36, 84, 148) 0%, rgb(28, 68, 132) 100%);

}
img{
  width: 60px;
}

.size{
  font-size: smaller;
  margin-right: 10px;
}

#location{
  color: #0038a8;
  font-size: larger;
  letter-spacing: 0.5px;
}

.all,
.threeinone {
  display: flex;
  font-size: 30px;
  margin-right: 25px;
  font-weight: bolder;
  flex-direction: row;
  justify-content: space-between;
}
.container {
  width: 30%;
  display: flex;
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://i.gifer.com/1KL8.gif");
  box-shadow: 5px 5px 10px #191b19, 5px 5px 10px #595959;
}

.contdv {
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.space {
  margin: 0px;
  display: flex;
  flex-direction: row;
}
.deg {
  margin-left: 10px;
}
.reload {
  border: 0;
  width: 60px;
  height: 60px;
  display: block;
  font-size: 30px;
  transition: 0.3s;
  color: #9c9c9d;
  margin: 10px auto;
  border-radius: 50%;
  background: transparent;
  box-shadow: 10px 4px 18px #252525, 5px 5px 18px;
}
.reload:hover {
  box-shadow: inset 10px 4px 18px #252525, 5px 5px 18px;
}
