<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Chirpy Login</title>
        <style>
            body {
                background-color: gray;
            }
            form {
            margin: auto;
            margin-top: 40px;
            padding: 30px;
            width: 60%;
            border-radius: 10px;
            border: 5px solid rgb(20, 0, 32);
            }
        </style>
    </head>
    <body>
        <form action="{% url 'users:register' %}" method="post">
            <p>Register Here</p>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Register"/>
        </form>
    </body>
</html>