<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Grocery List</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <style>
            
        </style>
    </head>
    <body>
        <h1>Grocery List</h1>
        <form method='POST' action="{% url 'gl:add' %}">
            {% csrf_token %}
            <input type='text' name="add_item">
            <input type='submit'>
        </form>
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
        <ul>
            {% for items in list %}
            {% if items.completed == False %}
            <li>{{ items.name }} <a href="{% url 'gl:complete' items.id %}">completed?</a><br><a href="{% url 'gl:delete' items.id %}">delete!</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        <div>
            <h1>Completed List</h1>
            <ul>
                {% for items in list %}
                
                {% if items.completed %}
                <li>
                    
                    <span class="line-through">{{ items.name }}</span>
                    <small>created: {{ items.created_date }}</small>
                    <small>completed: {{ items.completed_date }}</small>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
