<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
</head>

<body>
    <form action="/num" method="post">
        <div>
        <h2> Welcome to your Password Generator</h2>
        </div>
        <div>
        <label for="name">Enter the password length:</label>
        <input type="number" name="num">
        <button type="submit"> Submit </button>
        </div>
    </form>
     <div>{{answer}}</div>
</body>
</html>