<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List</title>
</head>
<body>
    <h1>Grocery List</h1>
    <ul>
        {% for item in items %}
            <li>{{ item.content }}
                <form action="/delete_item/{{item.id}}/" method="post">{% csrf_token %}
                    <input type="submit" value="Delete">
                </form>
            </li>
        {% endfor %}
    </ul>
    <form action="/add_item/" method="post">{% csrf_token %}
        <input type="text" name="content">
        <input type="submit" value="Add">

    </form>
</body>
</html>