{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}
{% block content %}
<img src="/static/Holloway-Narwhals.jpeg" width="300px" height="300px">
<img src="{% static './Holloway-Narwhals.jpeg' %}" width="300px" height="300px">
    <p>Our content</p>

<form action="{% url 'ToDo:show' %}" method="post">
    {% csrf_token %}
    <input type="text" name="title">
    <button type="submit">display</button>
</form>

<form action="{% url 'ToDo:save' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">save</button>
</form>

<!-- <form action="{% url 'ToDo:home' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">register</button>
</form> -->
{% endblock %}