<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROT Cipher</title>
</head>
<body>
    <form action="/" method="post">
        <input type="text" name="input_text" placeholder="Enter a word"/>
        <input type="text" name="rotate" placeholder="Enter the amount to encipher with"/>
        <button type="submit">submit</button>
    </form>
    <h1>{{encoded}}</h1>
</body>
</html>
