{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Public Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Open Sans", sans-serif
        }
    </style>
</head>

<body class="w3-theme-l5">

    <!-- Navbar -->
    <nav class="w3-topbar ">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large ">
            <div class="w3-center">
                <h3>PUBLIC PAGE </h3>
                <h5>All User Posts are Displayed</h5>
            </div>

            <a href="{% url 'users:user_profile' %}"
                class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i
                    class="fa fa-user"> Profile Page</i>
            </a>

            <img src="{% static 'imgs/chirp_logo.png' %}" class="w3-circle" style="height:50px;width:50px"
                alt="PicAvatar">

            <a href="{% url 'users:user_signout' %}"
                class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
                title="Register">Logout</a>

        </div>
    </nav>


    <!-- Page Container -->
    <div class="w3-container w3-content " style="max-width:1400px;margin-top:80px">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Middle Column -->
            {% for UsersPostInfo in blogPostObjects reversed %}
            <div>
                <div class="w3-col m9">
                    <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                        <img src="{% static 'imgs/chirp_logo.png' %}" alt="Avatar"
                            class="w3-left w3-circle w3-margin-right" style="width:60px">
                        <span class="w3-right w3-opacity">[DatePostTime-Placeholder]</span>
                        {% csrf_token %}
                        <h4>{{ UsersPostInfo.userNamePost }}</h4><br>
                        <hr class="w3-clear">
                        <p>{{ UsersPostInfo.text }}</p>
                    </div>
                </div>
                
                <!-- End Middle Column -->
            </div>
            {% endfor %}
            <!-- End Grid -->
        </div>
        <!-- End Page Container -->
    </div>
   

    <!-- Footer -->

    <footer class="w3-container w3-theme-d3 w3-padding-16">
        <h5>End</h5>
    </footer>

    <footer class="w3-container w3-theme-d5">
        <p>Authored: Scott L.</a></p>
    </footer>


</body>

</html>