{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous" />
    <title>Grocery List</title>
    <script src="{% static 'js/javascript.js' %}" defer></script>
    <link rel='stylesheet' href="{% static 'css/style.css' %}">

</head>

<body>

    <div id="grocery_list_input" class="header">
        <h2>My Grocery List</h2>
    
            <div class="container">
                <div class="input-group">
                    <form action="{% url 'gl:grocery_add' %}" method="post">
                    {% csrf_token %}
                    <input type="text" class="form-control" id="grocery_item_input_field"
                        placeholder="Enter Grocery List Item" />
                    <input type="submit">
                    </form>
                </div>
        
        <div>
            <ul id="myGroceryItems">

                {% for grocery in all_list %}

                <li>text description {{ grocery.text_description}}</li>

                {% endfor %}

            </ul>
        </div>

    </div>


    <!-- <h1>Upload Image</h1>
    <form action="" method="post">
        <input type="text" name="title" required>
        <input type="file" name="picture" accept="image/*">
        <input type="submit">
    </form> -->

    <!--     
    <div id="grocery_list_app">

        <div class="container">
            <div class="input-group">
                <input type="text"
                class="form-control"
                id="grocery_item"
                placeholder="Enter Grocery List Item"
                @keyup.enter="add_grocery_item()" />

                <button class="btn btn-primary"
                @click="add_grocery_item()">Add</button>
            </div>
       
        {% for grocery in GroceryItem %}

            <div>
                <li>text description {{ grocery.text_description}}</li>
                <li>created date {{grocery.created_date}}</li>
                <li>completed date {{grocery.completed_date}}</li>
                <li>boolean flag {{grocery.boolean_response}}</li>
            </div>

        {% endfor %}

        </div> -->


    </div>
</body>

</html>