<!-- '''
    *'|<>|'*'|<>|'*'|<>|'*'|<>|'*'|<>|'*'|<>|'*'|<>|'*
         Project: Lab 5 - Intro to Flask
         Author: Scott Lefgren
         Email: scojlefg@gmail.com
         Date: January 5, 2023
   ___________________          _-_
   \==============_=_/ ____.---'---`---.____
               \_ \    \----._________.----/
                 \ \   /  /    `-_-'
             __,--`.`-'..'-_
            /____          ||
                 `--.____,-'
   
    *'|<>|'*'|<>|'*'|<>|'*'|<>|'*'|<>|'*'|<>|'*'|<>|'*
   ''' -->


   <!-- Intro to Flask  Lab 05

Implement ONE of the following Python labs in a Flask app:

    Rot Cipher
        Simple version: the user could just input the word to encode.
        Complex version: the user could also input the amount to rotate by.
    Unit Converter
        Simple version: the user enters the distance and units and the app shows them the converted distance in meters
        Complex version: the user also enters output units
    Random Password Generator
        Simple version: the user just enters in the number of characters in the password
        Complex version: the user enters the number of uppercase letters, lowercase letters, numbers, and special characters -->

        <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 05 Flask</title>
</head>
<body>


    <form action="" method="post">
        <input type="text" name="input_text" placeholder="enter some text"/>
        <button type="submit">submit</button>
      </form>    

    
</body>
</html>

       