<!DOCTYPE html>
<!-- root element -->
<html lang="en">
  <!-- the head contains metadata about the document  -->
  <head>
    <!-- meta tags store general metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- page title, the text that appears on a browser -->
    <title>url shortener</title>
    <!-- import external css -->
    
  </head>
  <!-- the body contains the actual document that will be shown to the user -->
  <body>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="url_long" placeholder="Long URL">
        <input type="submit">

    </form>
    {% if link %}
    <a href="http://localhost:8000/{{link.random_code}}">http://localhost:8000/{{link.random_code}}"</a>
    {% endif %}
  </body>
</html>